.link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.arrow {
    min-width: auto !important;
    margin: 1em;
}

.link-text span {
    font-size: 1.5em;
}

.link-text p {
    color: #8f8f8f;
}
